# Core
fastapi==0.103.1
redis==5.0.9
python-dotenv==1.0.0

# Security and Authentication
PyJWT==2.4.0
passlib==1.7.4

# Database and Caching
aioredis==2.0.1

# File Processing
PyPDF2==3.0.1
pillow==10.1.0
python-mimeparse==1.6.0
pikepdf==7.2.0
python-magic==0.4.3

# Machine Learning and OCR
opencv-python==4.8.0.74
paddlepaddle==2.6.3
paddleocr==2.7.3

# Web and HTTP
python-multipart==0.0.6

# Security
secure==0.4.0

# YARA (malware identification)
yara-python==4.3.0

# Configuration
pydantic==2.0.3

# Development Tools
plyara==2.5.1
gitpython==3.1.31
