# Core
fastapi
python-dotenv

# Security and Authentication
PyJWT
passlib

# File Processing
PyPDF2
pillow
python-mimeparse
pikepdf
#python-magic
python-magic-bin

# Machine Learning and OCR
opencv-python
paddlepaddle
paddleocr
PyMuPDF

# Web and HTTP
python-multipart

# Security
secure

# YARA (malware identification)
yara-python

# configuration
pydantic_settings

# Development Tools
plyara
gitpython
clamd
numpy
pdf2image
reportlab
uvicorn
setuptools
